.header {
    padding-bottom: 20px;
}
.form-cadastro input, .form-cadastro select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.error {
    border: 1px solid red !important;
}
.form-cadastro > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}

.button-cadastro {
    background-color: #71c155;
    color: white;
    border: 0;
    padding: 10px 20px 10px 20px;
    float: right;
    border-radius: 10px;
    font-size: .9em;
    cursor: pointer;
}