@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'RobotoMono', monospace;
    font-weight: 600;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }